.expense-containers {
    display: flex;           
    justify-content: space-between; 
    gap: 20px;                
    background-color: rgba(193, 181, 141, 0.579);
    height: 90%;
    width: 100%;
}

.weeklycontainer, .monthlycontainer {
    width: 48%;              
    padding: 20px;
    background-color: rgba(193, 181, 141, 0.579);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 400px;
}


h3 {
    text-align: center;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

#signOutBtn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#signOutBtn:hover {
    background-color: #c82333;
}